# Homework lesson 06
In this homework we keep on working with the world happiness report dataset. But instead of using only the data from 2015 we are going to use all 5 years (2015-2019) of data. The purpose of this homework is to explore the dataset via visulation techniques and (potentially) some descriptive statistics (e.g. mean, variance, correlation, etc). 


The homework is split into two parts. The first part is about reading all 5 csv's and merging them into one dataset that you can then use for your analysis. This is not necessary/mandatory to do because I provided you with the "clean" dataset (clean_data.csv). However, preprocessing your data is an essential skill that you need to learn. Thus, I recommend to at least try this exercise.

The second part is about the exploration of the dataset. This is a relatively free task but it's definitely something that you encounter in real life. You should already have some ideas from this week's class. You can get additional ideas by considering that the data is recorded from 2015 until 2019. For example, are there countries where the happiness score increase/decreased a lot between 2015 and 2019? Could you identify countries where the happiness score is "very" volatile? 

Please share a pdf with your results with me (Ben) before next weeks class. You can look online on how to convert a Jupyter notebook to pdf. 

I'm looking forward to your results!

In [1]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("data/clean_data.csv")

In [14]:
df.head()

,Happiness Rank,Country or region,Happiness Score,Economy (GDP per Capita),Social support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [34]:
_vars = df.groupby("Country or region")["Generosity"].var().sort_values()
_vars[~_vars.isna()]
# _vars

Country or region
Greece                 0.000000
Suriname               0.000005
North Cyprus           0.000007
Trinidad and Tobago    0.000014
Armenia                0.000056
                         ...
Laos                   0.010833
Sri Lanka              0.011224
United Kingdom         0.012953
Thailand               0.014154
Myanmar                0.017045
Name: Generosity, Length: 161, dtype: float64

In [39]:
np.var(df[df["Country or region"] == "Myanmar"]["Generosity"].values, ddof=1) == df[df["Country or region"] == "Myanmar"]["Generosity"].var()

True

In [38]:
df[df["Country or region"] == "Myanmar"]["Generosity"].var()

0.01704479763950366

In [29]:
df[df["Country or region"] == "Greece"].sort_values("Year")

,Happiness Rank,Country or region,Happiness Score,Economy (GDP per Capita),Social support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year
413,102,Greece,4.857,1.154060,0.929330,0.882130,0.076990,0.0,0.01397,2015
568,99,Greece,5.033,1.248860,0.754730,0.800290,0.058220,0.0,0.04127,2016
713,87,Greece,5.227,1.289487,1.239415,0.810199,0.095731,0.0,0.04329,2017
234,79,Greece,5.358,1.154000,1.202000,0.879000,0.131000,0.0,0.04400,2018
81,82,Greece,5.287,1.181000,1.156000,0.999000,0.067000,0.0,0.03400,2019